brotli=1.0.9
brotli-bin=1.0.9
brotlipy=0.7.0
ffmpeg=4.3
freetype=2.12.1
gettext>=0.21.0
giflib=5.2.1
gmp=6.2.1
gmpy2=2.1.2
gnutls
icu>=73.1
jpeg=9e
jupyter_client=8.4.0
jupyter_core=4.12.0
kiwisolver=1.4.4
lame=3.100
lcms2=2.12
lerc=3.0
libbrotlicommon=1.0.9
libbrotlidec=1.0.9
libbrotlienc=1.0.9
libcxx=14.0.6
libdeflate=1.17
libiconv=1.16
libidn2=2.3.4
libjpeg-turbo=2.0.0
libpng=1.6.39
libsodium=1.0.18
libtasn1
libtiff
libunistring=0.9.10
libwebp
libxml2
llvm-openmp=14.0.6
lz4-c=1.9.4
matplotlib-base
mpc
mpfr
openh264=2.1.1
python_abi
sqlite>=3.41.2
sympy=1.11.1
typing_extensions=4.7.1
urllib3=1.26.16
yaml=0.2.5
zeromq=4.3.4
zlib
zstd
