{
    "_comment"   : "Configure objectives to optimize for",
    "objectives" : {
        "ElectronEtaResolution" : {
            "inputs"    : ["single_electron"],
            "path"      : "<where-the-mobo-goes>/BIC-MOBO/objectives",
            "exec"      : "BICHitAngReso.py",
            "rule"      : "python <EXEC> -i <RECO> -o <OUTPUT> -s 11 -c eta",
            "stage"     : "ana",
            "goal"      : "minimize",
            "threshold" : 1.0
        },
        "PiMinusRejectionPower" : {
            "inputs"    : ["single_electron", "single_piminus"],
            "path"      : "<where-the-mobo-goes>/BIC-MOBO/objectives",
            "exec"      : "BICEPScan.py",
            "rule"      : "python <EXEC> -i <RECO> -o <OUTPUT> -a 11 -r -211",
            "stage"     : "ana",
            "goal"      : "maximize",
            "threshold" : 10.0
        }
    }
}
